.animated-table .ant-table-tbody tr {
    max-width: 100%;
    overflow-x: auto;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
